# 7.1 Handling Missing Data

In [0]:
import pandas as pd
import numpy as np

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [0]:
string_data[0] = None

In [5]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

## NA handling methods

### pd.DataFrame.dropna()

In [6]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

df

        born      name        toy
0        NaT    Alfred        NaN
1 1940-04-25    Batman  Batmobile
2        NaT  Catwoman   Bullwhip

In [7]:
df.dropna()

        born    name        toy
1 1940-04-25  Batman  Batmobile

In [8]:
df.dropna(axis = 'columns')

       name
0    Alfred
1    Batman
2  Catwoman

In [9]:
df.dropna(how = 'all') # drop rows where all elements are missing

        born      name        toy
0        NaT    Alfred        NaN
1 1940-04-25    Batman  Batmobile
2        NaT  Catwoman   Bullwhip

In [10]:
df.dropna(thresh = 2)

        born      name        toy
1 1940-04-25    Batman  Batmobile
2        NaT  Catwoman   Bullwhip

In [11]:
df.dropna(subset = ['name', 'born'])

        born    name        toy
1 1940-04-25  Batman  Batmobile

In [12]:
df.dropna(inplace = True)

df

        born    name        toy
1 1940-04-25  Batman  Batmobile

In [0]:
data = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [0]:
new_data = data.dropna(axis = 0, how = 'any')

In [15]:
print("Old data frame length: ", len(data),
      "\nNew data frame length: ", len(new_data),
      "\nNumber of rows with at least 1 NA value: ", 
      (len(data) - len(new_data)))

Old data frame length:  458
New data frame length:  364
Number of rows with at least 1 NA value:  94

In [0]:
new = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [0]:
new["Null Column"] = None

In [18]:
print(data.columns.values, "\n", new.columns.values)

['Name' 'Team' 'Number' 'Position' 'Age' 'Height' 'Weight' 'College'
 'Salary']
 ['Name' 'Team' 'Number' 'Position' 'Age' 'Height' 'Weight' 'College'
 'Salary' 'Null Column']

In [19]:
print("\nColumn number before dropping Null column:",
      len(data.dtypes), 
      len(new.dtypes))

Column number before dropping Null column: 9 10

In [0]:
new.dropna(axis = 1, how= 'all', inplace = True)

In [21]:
print("\nColumn number after dropping Null column:",
      len(data.dtypes),
      len(new.dtypes))

Column number after dropping Null column: 9 9

### pd.Series.dropna()

In [22]:
ser = pd.Series([1., 2., np.nan])

ser

0    1.0
1    2.0
2    NaN
dtype: float64

In [23]:
ser.dropna()

0    1.0
1    2.0
dtype: float64

In [24]:
ser.dropna(inplace = True)

ser

0    1.0
1    2.0
dtype: float64

In [25]:
ser = pd.Series([np.NaN, 2, pd.NaT, '', None, 'I stay'])

ser

0       NaN
1         2
2       NaT
3
4      None
5    I stay
dtype: object

In [26]:
ser.dropna()

1         2
3
5    I stay
dtype: object

In [27]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', None, 'Rio'])

index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']

sr.index = index_

sr

City 1    New York
City 2     Chicago
City 3     Toronto
City 4        None
City 5         Rio
dtype: object

In [28]:
result = sr.dropna()

result

City 1    New York
City 2     Chicago
City 3     Toronto
City 5         Rio
dtype: object

In [29]:
sr = pd.Series([100, None, None, 18, 65, None, 32, 10, 5, 24, None])

index_ = pd.date_range('2010-10-09', periods = 11, freq = 'M')

sr.index = index_

sr

2010-10-31    100.0
2010-11-30      NaN
2010-12-31      NaN
2011-01-31     18.0
2011-02-28     65.0
2011-03-31      NaN
2011-04-30     32.0
2011-05-31     10.0
2011-06-30      5.0
2011-07-31     24.0
2011-08-31      NaN
Freq: M, dtype: float64

In [30]:
result = sr.dropna()

result

2010-10-31    100.0
2011-01-31     18.0
2011-02-28     65.0
2011-04-30     32.0
2011-05-31     10.0
2011-06-30      5.0
2011-07-31     24.0
dtype: float64

### pd.DataFrame.fillna()

In [31]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns = list('ABCD'))

df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [32]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [33]:
df.fillna(method = 'ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [34]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}

df.fillna(value = values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [35]:
df.fillna(value = values, limit = 1)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  NaN  1
2  NaN  1.0  NaN  5
3  NaN  3.0  NaN  4

In [36]:
nba = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
nba["College"].fillna("No College", inplace = True)

nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,No College,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,No College,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,No College,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,No College,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,No College,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,No College,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,No College,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,No College,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No College,NaN

In [38]:
nba = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

nba["College"].fillna(method = 'ffill', inplace = True)

nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Georgia State,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,North Carolina,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,Georgia Tech,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Colorado,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,Georgia Tech,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,Duke,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Butler,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,Butler,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,NaN

In [39]:
nba = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

nba["College"].fillna(method = 'ffill', limit = 1, inplace = True)

nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,North Carolina,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,Georgia Tech,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Colorado,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,Georgia Tech,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,Duke,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Butler,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,NaN

### pd.Series.fillna()

In [40]:
## See examples of pd.DataFrame.fillna()

sr = pd.Series(['New York', 'Chicago', 'Toronto', None, 'Rio'])

index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']

sr.index = index_

sr

City 1    New York
City 2     Chicago
City 3     Toronto
City 4        None
City 5         Rio
dtype: object

In [41]:
result = sr.fillna(value = {'City 4': 'Lisbon',
                            'City 1': 'Dublin'})

result

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

In [42]:
sr = pd.Series([100, None, None, 18, 65, None, 32, 10, 5, 24, None])

index_ = pd.date_range('2010-10-09', periods = 11, freq = 'M')

sr.index = index_

sr

2010-10-31    100.0
2010-11-30      NaN
2010-12-31      NaN
2011-01-31     18.0
2011-02-28     65.0
2011-03-31      NaN
2011-04-30     32.0
2011-05-31     10.0
2011-06-30      5.0
2011-07-31     24.0
2011-08-31      NaN
Freq: M, dtype: float64

In [43]:
result = sr.fillna(method = 'ffill')

result

2010-10-31    100.0
2010-11-30    100.0
2010-12-31    100.0
2011-01-31     18.0
2011-02-28     65.0
2011-03-31     65.0
2011-04-30     32.0
2011-05-31     10.0
2011-06-30      5.0
2011-07-31     24.0
2011-08-31     24.0
Freq: M, dtype: float64

### pd.DataFrame.isnull()

In [44]:
df = pd.DataFrame({'age': [5, 6, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                            pd.Timestamp('1940-04-25')],
                   'name': ['Alfred', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})

df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [45]:
df.isna()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [46]:
ser = pd.Series([5, 6, np.NaN])

ser

0    5.0
1    6.0
2    NaN
dtype: float64

In [47]:
ser.isna()

0    False
1    False
2     True
dtype: bool

In [48]:
data = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/employees.csv")

bool_series = pd.isnull(data["Gender"])

data[bool_series]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
20,Lois,NaN,4/22/1995,7:18 PM,64714,4.934,True,Legal
22,Joshua,NaN,3/8/2012,1:58 AM,90816,18.816,True,Client Services
27,Scott,NaN,7/11/1991,6:58 PM,122367,5.218,False,Legal
31,Joyce,NaN,2/20/2005,2:40 PM,88657,12.752,False,Product
41,Christine,NaN,6/28/2015,1:08 AM,66582,11.308,True,Business Development
49,Chris,NaN,1/24/1980,12:13 PM,113590,3.055,False,Sales
51,NaN,NaN,12/17/2011,8:29 AM,41126,14.009,NaN,Sales
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
60,Paula,NaN,11/23/2005,2:01 PM,48866,4.271,False,Distribution
64,Kathleen,NaN,4/11/1990,6:46 PM,77834,18.771,False,Business Development
69,Irene,NaN,7/14/2015,4:31 PM,100863,4.382,True,Finance
70,Todd,NaN,6/10/2003,2:26 PM,84692,6.617,False,Client Services
80,Gerald,NaN,3/17/1995,12:50 AM,137126,15.602,True,Sales
86,Annie,NaN,9/29/2007,12:11 AM,103495,17.290,True,Business Development
90,Janice,NaN,8/21/1997,5:12 AM,91719,11.583,True,Legal
91,James,NaN,1/26/2005,11:00 PM,128771,8.309,False,NaN
93,Virginia,NaN,5/7/1994,5:58 PM,111858,1.601,True,Legal
97,Laura,NaN,7/19/2014,9:23 PM,140371,10.620,True,Marketing
108,Russell,NaN,5/5/1988,7:57 AM,133980,12.396,True,Legal
121,Kathleen,NaN,5/9/2016,8:55 AM,119735,18.740,False,Product
143,Teresa,NaN,1/28/2016,10:55 AM,140013,8.689,True,Engineering
144,Nicole,NaN,3/5/1982,2:28 PM,122717,12.452,False,Sales
148,Patrick,NaN,7/14/1991,2:24 AM,124488,14.837,True,Sales
151,Brandon,NaN,11/3/1997,8:17 PM,121333,15.295,False,Business Development
153,Victor,NaN,3/10/2011,8:40 PM,84546,10.489,True,Finance
159,James,NaN,11/22/1983,10:52 PM,68501,14.316,False,Marketing
161,Marilyn,NaN,8/22/1999,9:09 AM,103386,11.451,False,Distribution
168,Peter,NaN,9/3/1987,5:59 PM,38989,7.017,True,Marketing
174,NaN,NaN,9/18/2007,6:59 PM,40297,6.185,NaN,Client Services
183,Ruth,NaN,5/18/1999,5:56 AM,98233,2.518,True,Distribution
...,...,...,...,...,...,...,...,...
769,Samuel,NaN,10/7/2002,3:08 AM,141305,9.849,True,Marketing
783,NaN,NaN,4/15/1991,3:39 AM,132505,13.592,NaN,Product
788,Michelle,NaN,3/31/2012,6:28 AM,124441,16.353,False,Business Development
792,Anne,NaN,4/18/1996,11:57 PM,122762,9.564,False,Distribution
795,Theresa,NaN,10/7/1995,10:16 AM,42025,3.319,True,Human Resources
815,Maria,NaN,1/18/1986,8:36 PM,106562,4.000,False,Human Resources
825,Robert,NaN,12/4/2000,1:20 AM,69267,5.890,True,Sales
826,NaN,NaN,8/1/1988,1:35 AM,87103,5.665,NaN,NaN
827,Jesse,NaN,7/16/2014,2:24 AM,98811,7.487,False,Legal
834,Carl,NaN,2/11/1982,7:54 AM,49325,2.071,True,Business Development
844,Maria,NaN,6/19/1985,1:48 AM,148857,8.738,False,Legal
847,Nicole,NaN,5/2/1981,12:03 PM,41449,4.707,False,Finance
855,Phillip,NaN,10/20/2003,11:09 AM,89700,2.277,True,NaN
856,Bonnie,NaN,1/18/2006,6:52 PM,108946,12.211,False,Finance
870,Cynthia,NaN,11/19/1996,10:40 PM,107816,18.751,False,Marketing
876,Terry,NaN,9/11/1992,4:41 PM,41238,8.219,False,Marketing
880,Robert,NaN,5/25/2007,3:17 AM,90998,8.382,False,Finance
882,Sara,NaN,11/18/2014,2:47 PM,135990,14.344,True,Distribution
895,Janice,NaN,11/19/1991,6:02 PM,139791,16.968,False,Business Development
897,Kenneth,NaN,2/28/1994,10:10 AM,95296,10.146,False,Finance
923,Irene,NaN,2/28/1991,10:23 PM,135369,4.380,False,Business Development
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
938,Mark,NaN,9/9/2006,12:27 PM,44836,2.657,False,Client Services
939,Ralph,NaN,7/28/1995,6:53 PM,70635,2.147,False,Client Services
945,Gerald,NaN,4/15/1989,12:44 PM,93712,17.426,True,Distribution
961,Antonio,NaN,6/18/1989,9:37 PM,103050,3.050,False,Legal
972,Victor,NaN,7/28/2006,2:49 PM,76381,11.159,True,Sales
985,Stephen,NaN,7/10/1983,8:10 PM,85668,1.909,False,Legal
989,Justin,NaN,2/10/1991,4:58 PM,38344,3.794,False,Legal
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution

### pd.Series.isnull()

In [49]:
## See pd.DataFrame.isnull() examples

sr = pd.Series([10, 25, 3, 25, 24, 6])

index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp']

sr.index = index_

sr

Coca Cola    10
Sprite       25
Coke          3
Fanta        25
Dew          24
ThumbsUp      6
dtype: int64

In [50]:
result = sr.isnull()

result

Coca Cola    False
Sprite       False
Coke         False
Fanta        False
Dew          False
ThumbsUp     False
dtype: bool

In [51]:
sr = pd.Series([11, 21, 8, 18, 65, None, 32, 10, 5, 24, None])

index_ = pd.date_range('2010-10-09', periods = 11, freq = 'M')

sr.index = index_

sr

2010-10-31    11.0
2010-11-30    21.0
2010-12-31     8.0
2011-01-31    18.0
2011-02-28    65.0
2011-03-31     NaN
2011-04-30    32.0
2011-05-31    10.0
2011-06-30     5.0
2011-07-31    24.0
2011-08-31     NaN
Freq: M, dtype: float64

In [52]:
result = sr.isnull()

result

2010-10-31    False
2010-11-30    False
2010-12-31    False
2011-01-31    False
2011-02-28    False
2011-03-31     True
2011-04-30    False
2011-05-31    False
2011-06-30    False
2011-07-31    False
2011-08-31     True
Freq: M, dtype: bool

### pd.DataFrame.notnull()

In [53]:
df = pd.DataFrame({'age': [5, 6, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                            pd.Timestamp('1940-04-25')],
                   'name': ['Alfred', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})

df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [54]:
df.notna()

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True

In [55]:
ser = pd.Series([5, 6, np.NaN])

ser

0    5.0
1    6.0
2    NaN
dtype: float64

In [56]:
ser.notna()

0     True
1     True
2    False
dtype: bool

In [57]:
df = pd.DataFrame({"A": [14, 4, 5, 4, 1],
                   "B": ["Sam", "olivia", "terica", "megan", "amanda"],
                   "C": [20 + 5j, 20 + 3j, 7, 3, 8],
                   "D": [14, 3, 6, 2, 6]})

df

    A       B        C   D
0  14     Sam  (20+5j)  14
1   4  olivia  (20+3j)   3
2   5  terica   (7+0j)   6
3   4   megan   (3+0j)   2
4   1  amanda   (8+0j)   6

In [58]:
df.notnull()

      A     B     C     D
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True

In [59]:
df = pd.DataFrame({"A": ["Sandy", "alex", "brook", "kelly", np.nan],
                   "B": [np.nan, "olivia", "terica", "", "amanda"],
                   "C": [20 + 5j, 20 + 3j, 7, None, 8],
                   "D": [14.8, 3, None, 2.3, 6]})

df.notnull()

       A      B      C      D
0   True  False   True   True
1   True   True   True   True
2   True   True   True  False
3   True   True  False   True
4  False   True   True   True

In [60]:
data = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/employees.csv")

bool_series = pd.notnull(data["Gender"])

data[bool_series]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,NaN,Finance
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development
10,Louise,Female,8/12/1980,9:01 AM,63241,15.132,True,NaN
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal
12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources
13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance
15,Lillian,Female,6/5/2016,6:09 AM,59414,1.256,False,Product
16,Jeremy,Male,9/21/2010,5:56 AM,90370,7.369,False,Human Resources
17,Shawn,Male,12/7/1986,7:45 PM,111737,6.414,False,Product
18,Diana,Female,10/23/1981,10:27 AM,132940,19.082,False,Client Services
19,Donna,Female,7/22/2010,3:48 AM,81014,1.894,False,Product
21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing
23,NaN,Male,6/14/2012,4:19 PM,125792,5.042,NaN,NaN
24,John,Male,7/1/1992,10:08 PM,97950,13.873,False,Client Services
25,NaN,Male,10/8/2012,1:12 AM,37076,18.576,NaN,Client Services
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing
28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services
29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal
30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering
32,NaN,Male,8/21/1998,2:27 PM,122340,6.417,NaN,NaN
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development
...,...,...,...,...,...,...,...,...
966,Louis,Male,8/16/2011,5:19 PM,93022,9.146,True,Human Resources
967,Thomas,Male,3/12/2016,3:10 PM,105681,19.572,False,Engineering
968,Louise,Female,3/27/1995,10:27 PM,43050,11.671,False,Distribution
969,Linda,Female,2/4/2010,8:49 PM,44486,17.308,True,Engineering
970,Alice,Female,9/3/1988,8:54 PM,63571,15.397,True,Product
971,Patrick,Male,12/30/2002,2:01 AM,75423,5.368,True,Business Development
973,Russell,Male,5/10/2013,11:08 PM,137359,11.105,False,Business Development
974,Harry,Male,8/30/2011,6:31 PM,67656,16.455,True,Client Services
975,Susan,Female,4/7/1995,10:05 PM,92436,12.467,False,Sales
976,Denise,Female,10/19/1992,5:42 AM,137954,4.195,True,Legal
977,Sarah,Female,12/4/1995,9:16 AM,124566,5.949,False,Product
978,Sean,Male,1/17/1983,2:23 PM,66146,11.178,False,Human Resources
979,Ernest,Male,7/20/2013,6:41 AM,142935,13.198,True,Product
980,Kimberly,Female,1/26/2013,12:57 AM,46233,8.862,True,Engineering
981,James,Male,1/15/1993,5:19 PM,148985,19.280,False,Legal
982,Rose,Female,4/6/1982,10:43 AM,91411,8.639,True,Human Resources
983,John,Male,12/23/1982,10:35 PM,146907,11.738,False,Engineering
984,Maria,Female,10/15/2011,4:53 PM,43455,13.040,False,Engineering
986,Donna,Female,11/26/1982,7:04 AM,82871,17.999,False,Marketing
987,Gloria,Female,12/8/2014,5:08 AM,136709,10.331,True,Finance
988,Alice,Female,10/5/2004,9:34 AM,47638,11.209,False,Human Resources
990,Robin,Female,7/24/1987,1:35 PM,100765,10.982,True,Client Services
991,Rose,Female,8/25/2002,5:12 AM,134505,11.051,True,Marketing
992,Anthony,Male,10/16/2011,8:35 AM,112769,11.625,True,Finance
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

### pd.Series.notnull()

In [61]:
## See pd.DataFrame.notnull() examples

sr = pd.Series([10, 25, 3, 25, 24, 6])

index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp']

sr.index = index_

sr

Coca Cola    10
Sprite       25
Coke          3
Fanta        25
Dew          24
ThumbsUp      6
dtype: int64

In [62]:
result = sr.notnull()

result

Coca Cola    True
Sprite       True
Coke         True
Fanta        True
Dew          True
ThumbsUp     True
dtype: bool

In [63]:
sr = pd.Series([19.5, 16.8, None, 22.78, None, 20.124, None,
                18.1002, None])

sr

0    19.5000
1    16.8000
2        NaN
3    22.7800
4        NaN
5    20.1240
6        NaN
7    18.1002
8        NaN
dtype: float64

In [64]:
result = sr.notnull()

result

0     True
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
dtype: bool

## Filtering Out Missing Data

In [0]:
from numpy import nan as NA

In [66]:
data = pd.Series([1, NA, 3.5, NA, 7])

data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [67]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [68]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [69]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [70]:
cleaned = data.dropna()

cleaned

     0    1    2
0  1.0  6.5  3.0

In [71]:
data.dropna(how = 'all')  # drop rows that are all NA

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [72]:
data[4] = NA

data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [73]:
data.dropna(axis = 1, how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [74]:
df = pd.DataFrame(np.random.randn(7, 3))

df.iloc[:4, 1] = NA

df.iloc[:2, 2] = NA

df

          0         1         2
0  1.412405       NaN       NaN
1  0.931827       NaN       NaN
2  1.133041       NaN  1.964337
3  2.253912       NaN  0.123907
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

In [75]:
df.dropna()

          0         1         2
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

In [76]:
df.dropna(thresh = 2)

          0         1         2
2  1.133041       NaN  1.964337
3  2.253912       NaN  0.123907
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

## Filling In Missing Data

In [77]:
df.fillna(0)

          0         1         2
0  1.412405  0.000000  0.000000
1  0.931827  0.000000  0.000000
2  1.133041  0.000000  1.964337
3  2.253912  0.000000  0.123907
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

In [78]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  1.412405  0.500000  0.000000
1  0.931827  0.500000  0.000000
2  1.133041  0.500000  1.964337
3  2.253912  0.500000  0.123907
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

In [79]:
_ = df.fillna(0, inplace = True)

df

          0         1         2
0  1.412405  0.000000  0.000000
1  0.931827  0.000000  0.000000
2  1.133041  0.000000  1.964337
3  2.253912  0.000000  0.123907
4 -0.619670  1.461331 -0.422855
5 -1.693341 -3.092042 -2.583528
6  1.688272  0.248388 -0.688920

In [80]:
df = pd.DataFrame(np.random.randn(6, 3))

df.iloc[2:, 1] = NA

df.iloc[4:, 2] = NA

df

          0         1         2
0 -1.954009 -1.572340  0.684120
1 -1.020135  2.937428 -0.588248
2  0.726491       NaN -0.817443
3 -0.084278       NaN  1.064872
4  0.958398       NaN       NaN
5 -2.475085       NaN       NaN

In [81]:
df.fillna(method = 'ffill')

          0         1         2
0 -1.954009 -1.572340  0.684120
1 -1.020135  2.937428 -0.588248
2  0.726491  2.937428 -0.817443
3 -0.084278  2.937428  1.064872
4  0.958398  2.937428  1.064872
5 -2.475085  2.937428  1.064872

In [82]:
df.fillna(method = 'ffill', limit = 2)

          0         1         2
0 -1.954009 -1.572340  0.684120
1 -1.020135  2.937428 -0.588248
2  0.726491  2.937428 -0.817443
3 -0.084278  2.937428  1.064872
4  0.958398       NaN  1.064872
5 -2.475085       NaN  1.064872

In [83]:
data = pd.Series([1., NA, 3.5, NA, 7])

data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

# 7.2 Data Transformation

## Removing Duplicates

In [84]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})

data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [85]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [86]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [0]:
data['v1'] = range(7)

In [88]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [89]:
data.drop_duplicates(['k1', 'k2'], keep = 'last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

## Transforming Data Using a Function or Mapping

In [90]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [0]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [92]:
lowercased = data['food'].str.lower()

lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [93]:
data['animal'] = lowercased.map(meat_to_animal)

data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [94]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

## Replacing Values

In [95]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [96]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [97]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [98]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [99]:
data.replace({-999: np.nan, -1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

## Renaming Axis Indexes

In [0]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index = ['Ohio', 'Colorado', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

In [0]:
transform = lambda x: x[:4].upper()

In [102]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [103]:
data.index = data.index.map(transform)

data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [104]:
data.rename(index = str.title, columns = str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [105]:
data.rename(index = {'OHIO': 'INDIANA'},
            columns = {'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [0]:
data.rename(index = {'OHIO': 'INDIANA'}, inplace = True)

In [107]:
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

## Discretization and Binning

In [108]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

bins = [18, 25, 35, 60, 100]

cats = pd.cut(ages, bins)

cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [109]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [110]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [111]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [112]:
pd.cut(ages, [18, 26, 36, 61, 100], right = False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [0]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [114]:
pd.cut(ages, bins, labels = group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [115]:
data = np.random.rand(20)

pd.cut(data, 4, precision = 2)

[(0.27, 0.5], (0.5, 0.72], (0.041, 0.27], (0.5, 0.72], (0.72, 0.95], ..., (0.041, 0.27], (0.72, 0.95], (0.72, 0.95], (0.72, 0.95], (0.27, 0.5]]
Length: 20
Categories (4, interval[float64]): [(0.041, 0.27] < (0.27, 0.5] < (0.5, 0.72] < (0.72, 0.95]]

In [0]:
data = np.random.randn(1000) # Normally distributed

In [117]:
cats = pd.qcut(data, 4)  # Cut into quartiles

cats

[(-3.5949999999999998, -0.736], (0.645, 3.528], (0.645, 3.528], (-0.736, -0.0292], (-3.5949999999999998, -0.736], ..., (-3.5949999999999998, -0.736], (-3.5949999999999998, -0.736], (-3.5949999999999998, -0.736], (-3.5949999999999998, -0.736], (-0.736, -0.0292]]
Length: 1000
Categories (4, interval[float64]): [(-3.5949999999999998, -0.736] < (-0.736, -0.0292] < (-0.0292, 0.645] <
                                    (0.645, 3.528]]

In [118]:
pd.value_counts(cats)

(0.645, 3.528]                   250
(-0.0292, 0.645]                 250
(-0.736, -0.0292]                250
(-3.5949999999999998, -0.736]    250
dtype: int64

In [119]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(-3.5949999999999998, -1.263], (-0.0292, 1.334], (1.334, 3.528], (-1.263, -0.0292], (-3.5949999999999998, -1.263], ..., (-3.5949999999999998, -1.263], (-1.263, -0.0292], (-3.5949999999999998, -1.263], (-1.263, -0.0292], (-1.263, -0.0292]]
Length: 1000
Categories (4, interval[float64]): [(-3.5949999999999998, -1.263] < (-1.263, -0.0292] < (-0.0292, 1.334] <
                                    (1.334, 3.528]]

## Detecting and Filtering Outliers

In [120]:
data = pd.DataFrame(np.random.randn(1000, 4))

data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.014376    -0.008781    -0.041803     0.010742
std       0.980127     1.008480     1.021911     1.026074
min      -3.834682    -3.177803    -2.906478    -3.344438
25%      -0.630968    -0.690980    -0.757285    -0.619013
50%       0.011627    -0.032570    -0.015809     0.022671
75%       0.638097     0.650182     0.673984     0.719689
max       3.335630     3.252415     3.955269     2.983987

In [0]:
col = data[2]

In [122]:
col[np.abs(col) > 3]

401    3.955269
Name: 2, dtype: float64

In [123]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
100 -0.278356  0.763369 -0.924645 -3.344438
110 -3.834682 -1.194257  0.370370  0.713694
112  0.217942  3.252415 -0.219369 -0.180917
230 -0.477895 -3.177803 -0.964096  0.269497
235 -0.270577  1.187541  0.594053 -3.239329
288  3.056407  0.360832  0.162295  0.789040
401 -0.535083 -1.136216  3.955269 -2.802732
486 -3.373402  1.147894  0.568820  0.637839
526 -1.301562  1.943625  0.233023 -3.239716
681 -3.131010  0.717435  1.139929 -0.340809
735  3.335630 -0.574483  0.070943 -0.387277
776 -1.260187  0.394121 -0.513596 -3.105458
804 -0.437119  1.204944  0.142549 -3.086945
916  3.207037 -0.129573  1.232762  1.085810

In [0]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [125]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.015116    -0.008856    -0.042759     0.011758
std       0.973639     1.007150     1.018612     1.022962
min      -3.000000    -3.000000    -2.906478    -3.000000
25%      -0.630968    -0.690980    -0.757285    -0.619013
50%       0.011627    -0.032570    -0.015809     0.022671
75%       0.638097     0.650182     0.673984     0.719689
max       3.000000     3.000000     3.000000     2.983987

In [126]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1 -1.0 -1.0 -1.0 -1.0
2  1.0 -1.0  1.0 -1.0
3  1.0  1.0  1.0 -1.0
4  1.0  1.0  1.0 -1.0

## Permutation and Random Sampling

In [127]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

sampler = np.random.permutation(5)

sampler

array([2, 0, 3, 1, 4])

In [128]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [129]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19

In [130]:
df.sample(n = 3)

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
0   0   1   2   3

In [131]:
choices = pd.Series([5, 7, -1, 6, 4])

draws = choices.sample(n = 10, replace = True)

draws

1    7
3    6
4    4
4    4
0    5
3    6
0    5
3    6
3    6
4    4
dtype: int64

## Computing Indicator / Dummy Variables

In [0]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [133]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [0]:
dummies = pd.get_dummies(df['key'], prefix = 'key')

In [135]:
df_with_dummy = df[['data1']].join(dummies)

df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [136]:
from google.colab import files

uploaded = files.upload()

In [0]:
mnames = ['movie_id', 'title', 'genres']

In [138]:
movies = pd.read_table('movies.dat.txt', sep = '::',
                       header = None, names = mnames)

movies[:10]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [0]:
all_genres = []

In [0]:
for x in movies.genres:
  all_genres.extend(x.split('|'))

In [141]:
genres = pd.unique(all_genres)

genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [0]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [0]:
dummies = pd.DataFrame(zero_matrix, columns = genres)

In [0]:
gen = movies.genres[0]

In [145]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [146]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2])

In [0]:
for i, gen in enumerate(movies.genres):
  indices = dummies.columns.get_indexer(gen.split('|'))
  dummies.iloc[i, indices] = 1

In [0]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [149]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [0]:
np.random.seed(12345)

In [151]:
values = np.random.rand(10)

values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [0]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [153]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

# 7.3 String Manipulation

## String Object Methods

In [154]:
val = 'a,b, guido'

val.split(',')

['a', 'b', ' guido']

In [155]:
pieces = [x.strip() for x in val.split(',')]

pieces

['a', 'b', 'guido']

In [0]:
first, second, third = pieces

In [157]:
first + '::' + second + '::' + third

'a::b::guido'

In [158]:
'::'.join(pieces)

'a::b::guido'

In [159]:
'guido' in val

True

In [160]:
val.index(',')

1

In [161]:
val.find(':')

-1

In [0]:
# val.index(':')
# this will raise a ValueError: substring not found

In [163]:
val.count(',')

2

In [164]:
val.replace(',', '::')

'a::b:: guido'

In [165]:
val.replace(',', '')

'ab guido'

## Python built-in string methods

### count()

In [166]:
string = "geeks for geeks"

string.count("geeks")

2

In [167]:
string.count("geeks", 0, 5)  # searches from index 0 to 5

string.count("geeks", 0, 15)  # searches from index 0 to 15

2

### endswith()

In [168]:
text = "geeks for geeks"

result = text.endswith('for geeks')
result

True

In [169]:
result = text.endswith('geeks.')
result

False

In [170]:
result = text.endswith('geeks for geeks')
result

True

In [171]:
result = text.endswith('geeks', 10)
result

True

In [172]:
result = text.endswith('geeks', 10, 15)
result

True

### startswith()

In [173]:
str = "GeeksforGeeks"

str.startswith("Geeks")

True

In [174]:
str.startswith("Geeks", 4, 10)

False

In [175]:
str.startswith("Geeks", 8, 14)

True

### join()

In [176]:
list1 = ['1', '2', '3', '4']

s = "-"

s = s.join(list1)
s

'1-2-3-4'

In [177]:
list1 = ['g', 'e', 'e', 'k', 's']

print("".join(list1))

geeks

### index()

In [178]:
ch = "geeksforgeeks"

ch1 = "geeks"

pos = ch.index(ch1, 2)

print("The first position of geeks after 2nd index: ", end = "")
print(pos)

The first position of geeks after 2nd index: 8

In [0]:
ch = "geeksforgeeks"

ch1 = "gfg"

# pos = ch.index(ch1)

# print("The first position of gfg is: ", end = "")
# print(pos)
# Gives a RuntimeError: substring not found

In [181]:
sentence = 'Python programming is fun.'

print(sentence.index('ing', 10))  # searched in 'gramming is fun.'

print(sentence.index('g is', 10, -4))  # searched in 'gramming is '

15
17

### find()

In [182]:
quote = 'Let it be, let it be, let it be'

result = quote.find('let it')
print("Substring 'let it': ", result)

result = quote.find('small')
print("Substring 'small': ", result)

Substring 'let it':  11
Substring 'small':  -1

In [183]:
quote = 'Do small things with great love'

print(quote.find('small things', 10))   # -1

print(quote.find('small things', 2))    # 3

print(quote.find('o small', 10, -1))    # -1

-1
3
-1

### rfind()

In [184]:
quote = 'Let it be, let it be, let it be'

result = quote.rfind('let it')
print("Substring 'let it': ", result)

result = quote.rfind('small')
print("Substring 'small': ", result)

Substring 'let it':  22
Substring 'small':  -1

In [185]:
result = quote.rfind('be,')

if(result != -1):
  print("Highest index where 'be,' occurs: ", result)
else:
  print("Doesn't contain substring")

Highest index where 'be,' occurs:  18

In [186]:
quote = 'Do small things with great love'

# searched in 'hings with great love'
print(quote.rfind('things', 10))  # -1

# searched in 'small things with great love'
print(quote.rfind('t', 2))        # 25

# searched in 'hings with great lov'
print(quote.rfind('o small ', 10, -1))

# searched in 'll things with'
print(quote.rfind('th', 6, 20))

-1
25
-1
18

### replace()

In [187]:
song = 'cold, cold heart'
print(song.replace('cold', 'hurt'))

song = 'Let it be, let it be, let it be, let it be'

# only 2 occurences of 'let' is replaced
print(song.replace('let', "don't let", 2))

hurt, hurt heart
Let it be, don't let it be, don't let it be, let it be

In [188]:
song = 'cold, cold heart'
replaced_song = song.replace('o', 'e')

print('Original string: ', song)
print('Replaced string: ', replaced_song)

song = 'let it be, let it be, let it be'

# maximum of 0 substring is replaced
# returns copy of original string
print(song.replace('let', 'so', 0))

Original string:  cold, cold heart
Replaced string:  celd, celd heart
let it be, let it be, let it be

### strip()

In [189]:
string = '   Geeks for Geeks'

# Leading spaces are removed
print(string.strip())

# Geeks is removed
print(string.strip('   Geeks'))

# Not removed since spaces don't match
print(string.strip('Geeks'))

Geeks for Geeks
for
   Geeks for

In [190]:
string = '@@@@Geeks for Geeks@@@@@'

# strip all '@' from beginning and ending
print(string.strip('@'))

string = 'www.Geeksforgeeks.org'

# '.grow' removes 'www' and 'org' and '.'
print(string.strip('.grow'))

Geeks for Geeks
Geeksforgeeks

In [191]:
string = ' xoxo love xoxo  '

# leading whitespaces are removed
print(string.strip())

print(string.strip(' xoxoe'))  # lov

# argument doesn't contain space
# no characters are removed
print(string.strip('sti'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
 xoxo love xoxo
droid is awesome

### rstrip()

In [192]:
string = ' this is good'

# leading whitespaces removed
print(string.rstrip())

# argument doesn't contain 'd'
# no characters are removed
print(string.rstrip('si oo'))

print(string.rstrip('sid oo'))

website = 'www.programiz.com/'
print(website.rstrip('m/.'))

 this is good
 this is good
 this is g
www.programiz.co

In [193]:
string = 'geekssss'

string.rstrip('s')

'geek'

In [194]:
string = "   for   "

print("Geeks" + string.rstrip() + " Geeks ")

Geeks   for Geeks

In [195]:
string = "geeks for geeks"

# argument doesn't contain trailing 's'
# so, no characters are removed
string.rstrip('ek')

'geeks for geeks'

In [196]:
string = "geeks for geeks"

string.rstrip('ske')

'geeks for g'

### lstrip()

In [197]:
str = '    this is good '

# leading whitespaces are removed
print(str.lstrip())

# argument doesn't contain space
# no characters are removed
print(str.lstrip('sti'))

print(str.lstrip('s ti'))

site = 'https://www.programiz.com/'
print(site.lstrip('htps:/.'))

this is good
    this is good
his is good
www.programiz.com/

In [198]:
string = "  geeksforgeeks"

string.lstrip()

'geeksforgeeks'

In [199]:
string = "++++x...y!!z* geeksforgeeks"

string.lstrip("+.!*xyz")

' geeksforgeeks'

In [200]:
string = "geeks for geeks"

# argument doesn't contain leading 'g'
# so, no characters are removed
string.lstrip('ge')

'ks for geeks'

In [0]:
str = " geeks for geeks "

list = [1, 2, 3]

# list.lstrip()
# AttributeError: 'list' object has no attribute 'lstrip'

### split()

In [203]:
text = 'geeks for geeks'

# splits at space
print(text.split())

word = 'geeks, for, geeks'

# splits at ','
print(word.split(', '))

word = 'geeks:for:geeks'

# splits at ':'
print(word.split(':'))

word = 'CatBatSatFatOr'

# splits at 3
print([word[i : i + 3] for i in range(0, len(word), 3)])

['geeks', 'for', 'geeks']
['geeks', 'for', 'geeks']
['geeks', 'for', 'geeks']
['Cat', 'Bat', 'Sat', 'Fat', 'Or']

In [204]:
word = 'geeks, for, geeks, pawan'

# maxsplit: 0
print(word.split(', ', 0))

# maxsplit: 4
print(word.split(', ', 4))

# maxsplit: 1
print(word.split(', ', 1))

['geeks, for, geeks, pawan']
['geeks', 'for', 'geeks', 'pawan']
['geeks', 'for, geeks, pawan']

In [205]:
text = 'Love thy neighbor'

# splits at grace
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.split(', '))

# splits at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

In [206]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))

# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))

# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

### lower()

In [207]:
str = "THIS SHOULD BE LOWERCASE!"
print(str.lower())

str = "Th!s Sh0uLd B3 L0w3rCas3!"
print(str.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

In [208]:
first = "PYTHON IS AWESOME!"

second = "PyThOn Is AwEsOmE!"

if(first.lower() == second.lower()):
  print("The strings are same")
else:
  print("The strings are different")

The strings are same

### upper()

In [209]:
text = 'geeKs For geEkS'

print("Original string: ", text)

print("\nConverted string: ", text.upper())

Original string:  geeKs For geEkS

Converted string:  GEEKS FOR GEEKS

In [210]:
text = 'g3Ek5 f0r gE3K5'

print("Original string: ", text)

print("\nConverted string: ", text.upper())

Original string:  g3Ek5 f0r gE3K5

Converted string:  G3EK5 F0R GE3K5

In [213]:
first = "python is awesome!"

second = "PyThOn Is AwEsOmE!"

if(first.upper() == second.upper()):
   print("Strings are same")
else:
   print("Strings are different")

Strings are same

### casefold()

In [214]:
str = "HELLOTHERE"

print("lowercase str: ", str.casefold())

lowercase str:  hellothere

In [217]:
## checking if a string is a palindrome

str = 'geeksforgeeks'

str = str.casefold()

rev_str = reversed(str)

if str == rev_str:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [218]:
## counting vowels in a string

v = 'aeiou'

str = 'Hello, have you tried geeksforgeeks?'

str = str.casefold()

# make a dict with each vowel and value 0
c = {}.fromkeys(v, 0)

# count the vowels
for char in str:
  if char in c:
    c[char] += 1
print(c)

{'a': 1, 'e': 7, 'i': 1, 'o': 3, 'u': 1}

### ljust()

In [219]:
lstr = "I love geeksforgeeks"

print("Original string is: \n", lstr, "\n")

print("The left aligned string is: ", lstr.ljust(40, '-'))

Original string is:
 I love geeksforgeeks

The left aligned string is:  I love geeksforgeeks--------------------

In [220]:
string = 'geeks'
length = 8

# 3 spaces are printed after geeks
print(string.ljust(length))

geeks

In [221]:
string = 'geeks'
length = 8
fillchar = '*'

print(string.ljust(length, fillchar))

geeks***

### rjust()

In [222]:
rstr = "I love geeksforgeeks"

print("The original string is: \n", rstr, "\n")

print("The right aligned string is: ", rstr.rjust(40, '-'))

The original string is:
 I love geeksforgeeks

The right aligned string is:  --------------------I love geeksforgeeks

In [223]:
string = 'geeks'
length = 8

# if no fillchar is used, space is used as fillchar
print(string.rjust(length))

   geeks

In [224]:
string = 'geeks'
length = 8
fillchar = '*'

print(string.rjust(length, fillchar))

***geeks